@charset "utf-8";
/*共通*/

body {
	border-top: 10px solid #6CC6C4;
}

@media screen and (max-width: 768px) {

	header > div {
		.img-contain {
			margin: 0 auto;
			width: 260px;
		}
		
		.tel-contain {
			width: 220px;
			margin: 0 auto;
		}
	}
}