@charset "UTF-8";
/*================================================================
Chrome/Firefox/Edgeなど、各ブラウザはそれぞれデフォルトで効くCSSを持っています。
何もしないと見え方が微妙に変わるので、デフォルトのCSSをリセットして
ブラウザごとの表示の差異をなくすために書くのが「リセットCSS」です。
================================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

li, dd {
  list-style-type: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

img {
  border: none;
  vertical-align: bottom; }

a {
  text-decoration: none; }

a:active {
  color: #000;
  text-decoration: none; }

a:focus {
  outline: none;
  text-decoration: none; }

a:visited {
  color: #000;
  text-decoration: none; }

body {
  font-family: 'Noto Sans JP', sans-serif; }

/*サイト内全共通スタイル*/
body {
  margin: 0 auto;
  font-weight: 400; }

img {
  width: 100%; }

h1,
h2,
h3 {
  font-weight: 700; }

.storong-1 {
  font-weight: 900; }

.storong-2 {
  font-weight: 700; }

.thin-1 {
  font-weight: 300; }

@media screen and (max-width: 768px) {
  html {
    font-size: 110%; }

  .display-pc {
    display: none; } }
@media screen and (min-width: 769px) {
  html {
    font-size: 100%; }

  .display-sp {
    display: none; } }
/*共通*/
body {
  border-top: 10px solid #6CC6C4;
  background-color: #F6F6F6;
  color: #515151; }

@media screen and (max-width: 768px) {
  header > div {
    text-align: center; }
    header > div .img-contain {
      margin: 3px auto;
      width: 260px; }
    header > div .tel-contain {
      width: 220px;
      margin: 0 auto; }
    header > div h1 {
      font-size: 0.5rem;
      font-weight: 300;
      margin: 5px auto; }
    header > div span.tel {
      display: block;
      padding-left: 20px;
      font-size: 1.5rem;
      margin: 10px auto;
      letter-spacing: 0.03em; }
      header > div span.tel a {
        color: #515151; }
      header > div span.tel a:visited {
        color: #515151; }
      header > div span.tel a:hover {
        color: #515151; }
    header > div span.time {
      display: block;
      border: 1px solid #D6D6D6;
      font-weight: 300;
      font-size: 0.5rem;
      padding: 10px 0; }

  header nav {
    margin: 15px auto; }
    header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      header nav ul li {
        width: 50%;
        box-sizing: border-box;
        text-align: center; }
        header nav ul li a {
          background: linear-gradient(#9ce3e1 0%, #6cc6c4 100%);
          display: block;
          padding: 17px 0;
          border-radius: 5px; }
          header nav ul li a:hover {
            background: linear-gradient(#6cc6c4 0%, #9ce3e1 100%); }
        header nav ul li span {
          display: block;
          color: #fff;
          font-size: 0.8rem; }
        header nav ul li span:nth-of-type(2) {
          margin-top: 5px;
          font-size: 0.5rem; }

  main {
    padding: 0 10px; }

  main section.content div.top-img {
    max-width: 640px; }
  main section.content div.news {
    margin: 7px auto;
    background-color: #fff;
    padding: 30px 15px 15px;
    color: #515151; }
    main section.content div.news h3 {
      padding: 0 0 17px;
      margin: 0 auto 30px;
      font-weight: 700;
      font-size: 0.9rem;
      border-bottom: 3px solid #6CC6C4; }
    main section.content div.news dl dt {
      padding: 10px 0;
      font-size: 0.76rem;
      font-weight: 700; }
    main section.content div.news dl dd {
      font-size: 0.76rem;
      font-weight: 300;
      padding: 10px;
      border-bottom: 1px dotted #ccc;
      margin-bottom: 10px;
      line-height: 1.5; }

  nav.sidenav {
    background-color: #fff; }
    nav.sidenav > ul > li {
      border: 1px solid #6CC6C4; } }
