@charset "UTF-8";
/*================================================================
Chrome/Firefox/Edgeなど、各ブラウザはそれぞれデフォルトで効くCSSを持っています。
何もしないと見え方が微妙に変わるので、デフォルトのCSSをリセットして
ブラウザごとの表示の差異をなくすために書くのが「リセットCSS」です。
================================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

li, dd {
  list-style-type: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

img {
  border: none;
  vertical-align: bottom; }

a {
  color: #000;
  text-decoration: none; }

a:active {
  color: #000;
  text-decoration: none; }

a:focus {
  outline: none;
  text-decoration: none; }

a:visited {
  color: #000;
  text-decoration: none; }

body {
  font-family: 'Noto Sans JP', sans-serif; }

/*サイト内全共通スタイル*/
body {
  margin: 0 auto;
  font-weight: 400; }

img {
  width: 100%; }

h1,
h2,
h3 {
  font-weight: 700; }

.storong-1 {
  font-weight: 900; }

.storong-2 {
  font-weight: 700; }

.thin-1 {
  font-weight: 300; }

@media screen and (max-width: 768px) {
  html {
    font-size: 110%; }

  .display-pc {
    display: none; } }
@media screen and (min-width: 769px) {
  html {
    font-size: 100%; }

  .display-sp {
    display: none; } }
/*共通*/
.css-test {
  width: 1140px;
  margin: 0 auto; }
  .css-test__title {
    text-align: center;
    font-size: 1.5rem; }
  .css-test__flex-container {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap; }
  .css-test__flex-item {
    width: 33%;
    height: 100px;
    box-sizing: border-box;
    color: #4d4d4d; }
    .css-test__flex-item--item01 {
      background-color: #8c7373; }
    .css-test__flex-item--item02 {
      background-color: #bf4040; }
    .css-test__flex-item--item03 {
      background-color: #d92626; }
    .css-test__flex-item--item04 {
      background-color: red; }
    .css-test__flex-item--item05 {
      background-color: #330000; }
    .css-test__flex-item--item06 {
      background-color: white; }
    .css-test__flex-item--item07 {
      background-color: #77738c; }
    .css-test__flex-item--item08 {
      background-color: #5540bf; }
    .css-test__flex-item--item09 {
      background-color: #4426d9; }
    .css-test__flex-item--item10 {
      background-color: #2b00ff; }
    .css-test__flex-item--item11 {
      background-color: #090033; }
    .css-test__flex-item--item12 {
      background-color: white; }
    .css-test__flex-item--item13 {
      background-color: #981b1b; }
    .css-test__flex-item--item14 {
      background-color: #1b9898; }
    .css-test__flex-item--item15 {
      background-color: white; }
  .css-test__vertical-test {
    writing-mode: vertical-rl;
    height: 100px;
    width: 100%; }
